.auth-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 25px;
}

.nonauth-nav-container {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  padding-top: 25px;
  align-items: center;
  margin-bottom: 15px;
}
