.all-songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px;
  justify-content: space-between;
}

.all-songs > div > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.webcam-button {
  background-color: purple; /* Green */
  border: none;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  display: inline-block;
  font-size: 30px;
}
