.controls {
  display: flex;
  justify-content: center;
}

li {
  color: rebeccapurple;
}

.greeting {
  display: flex;
  justify-content: center;
}

.webcam-scores > h3 {
  display: flex;
  justify-content: center;
}


#countdown {
  text-align: center;
  margin: auto;
  line-height: 35px;
  margin-bottom: 30px;
}
