.controls {
  display: flex;
  justify-content: center;
}

li {
  color: rebeccapurple;
}

.greeting {
  display: flex;
  justify-content: center;
}

.webcam-scores > h3 {
  display: flex;
  justify-content: center;
}

